body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    background-color:goldenrod;
    color: darkred;
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}

a {
    color: chocolate;
}