/*Importação da fonte Bebas Neue do Google fontes*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Importação da fonte 'Android'*/

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*Cores e fontes utilizadas no arquivo*/

:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fonte0: Arial, Verdana, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', cursive;
}



* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: var(--fonte0);
    background-color: beige;
}


header {
    background-image: linear-gradient(var(--cor3), var(--cor5));

    min-height: 150px;
    text-align: center;
    text-shadow: 2px 2px 0px var(--cor5);
    

    padding-top: 40px;
}

header > h1 {
    font-family: var(--fonte1);
    font-size: 3em;
    font-weight: normal;
    color: white;

    margin-bottom: 20px;
}

header > p {
    font-family: var(--fonte0);
    font-size: 1.2em;
    color: white;

    width: 75%;
    margin: auto;
}

nav {
    background-color: var(--cor5);

    padding: 10px;

    box-shadow: 0px 9px 15px rgba(35, 37, 2, 0.622);
}

nav > ul {
    display: flex;
    list-style: none;
}


nav a {
    font-size: 15px;
    color: white;

    padding: 10px;
    text-decoration: none;

    border-radius: 5px;
    transition-duration: 0.35s;   
}

nav > ul> li > a:hover{
    color: var(--cor5);
    background-color: var(--cor2);
}

main {
    background-color: white;

    min-width: 300px;
    max-width: 800px;
    
    
    box-shadow: 0px 0px 10px  rgba(35, 37, 2, 0.622);
    border-radius: 0px 0px 10px 10px;

    padding: 30px;

    margin: auto;
    margin-bottom: 30px;
}

main h2 {
    font-family: var(--fonte2);
    font-weight: normal;
    font-size: 1.8em;
    color: var(--cor4);
}

main h3 {
    font-family: var(--fonte2);
    font-weight: normal;
    color: var(--cor4);
    
    text-indent: 10px;

    background-image: linear-gradient(to right, var(--cor0) 40%, white);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}

main img {
    width: 100%;
}

main strong {
    color: var(--cor4);
    font-weight: bold;

    padding: 2px 6px;
}

main a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;

    padding: 2px 6px;        
}


main a:hover{
    color: var(--cor1);
    text-decoration: underline;
}

main a::after {
    content: "\1F517";
    margin-left: 5px;
}

div.videos > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.359);

    padding-bottom: 10px;
}

aside h4 {
    color: white;
    background-color: var(--cor4);

    padding: 10px 15px;
    
    border-radius: 10px 10px 0px 0px;
}

aside p {
    margin: 15px;
    
}

aside ul {
    list-style-position: inside;
    columns: 2; 
    list-style: none;
}

aside li::before {
    padding: 10px;
    content: '\2714';
}

footer {
    background-color: var(--cor5);
    color: var(--cor0);  
    font-size: 0.8em;
    text-align: center;

    padding: 5px;
}

footer span {
    color: white;
    font-weight: bold;
}

#img-pequena {
    max-width: 350px;
    display: block;
    margin: auto;    
}

.videos {
    background-color: var(--cor5);
    margin: 0px -30px 30px -30px ;
    padding: 20px;

    padding-bottom: 58%;
    position: relative;
}

